h1 { color: #cdd1e4; 
     padding-left: 710px ;
     font-family: 'BioRhyme', serif; }
h2 { padding-left: 750px ; }
#p {grid-column-start: : }
img.pg{padding-left: 1300}

p {font-family:'Abel', serif; }
